<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="container">
      <div id="box" class="text-center">
        <div id="header-box">
            <h1>Bem Vindo!</h1>
        </div>
        <div id="corpo-box">
          <form id="input">
            <div class="form-group" style="text-align: left">
              <label for="nick">Nickname</label>
              <input type="text" name="nick" id="nick" class="form-control">
            </div>
            <div id="cores" style="text-align: left">
              <label>Escolha a sua cor</label><br/>
              <input type="radio" class="color" name="color" id="cl1" value="#1abc9c" checked/>
              <input type="radio" class="color" name="color" id="cl7" value="#2ecc71"/>
              <input type="radio" class="color" name="color" id="cl2" value="#3498db"/>
              <input type="radio" class="color" name="color" id="cl3" value="#9b59b6"/>
              <input type="radio" class="color" name="color" id="cl8" value="#34495e"/>
              <input type="radio" class="color" name="color" id="cl5" value="#f1c40f"/>
              <input type="radio" class="color" name="color" id="cl4" value="#e67e22"/>
              <input type="radio" class="color" name="color" id="cl6" value="#e74c3c"/>
            </div>
            <button class="btn btn-primary" type="submit">Entrar</button>
          </form>
        </div>
      </div>  
    </div>

    <% include partials/footer.ejs %>
    <script src="/js/index.js"></script>
  </body>
</html>
