<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head.ejs %>
      <link rel="stylesheet" href="/css/chat.css">
  </head>
  <body>
    <div class="container">
      <div id="chat-box">
        <div id="chat-header">
          <span onclick="history.go(-1)" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <h1>chat.io_</h1>
        </div>
        <div id="messages">
          <ul id="feed"></ul>
        </div> 
        <form action="" class="form-inline" id="msg-input">
          <div class="row">
            <div class="col-xs-10 form">
                <input id="m" type="text" class="form-control left" autofocus autocomplete="off">
            </div>
            <div class="col-xs-2 but">
              <button class="btn btn-primary right">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="data" data-nick="<%= data.nick %>" data-color="<%=data.color%>"></div>

    <!-- Socket.IO Config -->
    <script src="/socket.io/socket.io.js"></script>

    <% include partials/footer.ejs %>
    <script src="/js/chat.js"></script>
  </body>
</html>
