div#chat-box{
  width: 600px;
  height:500px;
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 100px;
}
div#chat-header{
  width: 100%;
  height: 10%;
  text-align: center;
}
div#chat-header h1{
  position:relative;
  color: white;
  font-size: 18pt;
  font-weight:500;
  top:13px;
  margin:0;
}
div#chat-header span{
  position: absolute;
  left: 16px;
  font-size: 18pt;
  top: 13px;
  color: white;
  z-index: 999;
}
div#messages{
  background-color: white;
  width: 100%;
  height: 80%;
  padding: 16px;
  overflow: auto;
}
div#messages ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#messages li{
  margin-bottom: 5px;
}
form#msg-input{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10%;
}
form#msg-input input{
  border-radius: 0px;
  width: 100%;
}
form#msg-input button{
  border-radius: 0px;
  width: 100%;
}
form#msg-input div.form{
  padding-right: 0;
}
form#msg-input div.but{
  padding-left: 0;
}
.right{
  float: right;
}
.left{
  float: left;
}
