div#box{
  width: 460px;
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 100px;
  background-color: white;
}
div#header-box{
  background-color:#2ecc71;
  width: 100%;
  height: 50px;
}
div#header-box h1{
  position: relative;
  color: white;
  font-size: 18pt;
  font-weight: 500;
  top: 13px;
  margin: 0;
}
div#corpo-box{
  padding: 16px;
}
form#input input[type="text"]{
  border-radius: 0px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
form#input button{
  border-radius: 0px;
  height: 45px;
  width: 125px;
}
div#cores{
  margin-bottom: 15px;
}
div#cores input:focus{
  outline: none;
}

input[type='radio']#cl1{
  background-color: #1abc9c;
}
input[type='radio']#cl2{
  background-color: #3498db;
}
input[type='radio']#cl3{
  background-color: #9b59b6;
}
input[type='radio']#cl4{
  background-color: #e67e22;
}
input[type='radio']#cl5{
  background-color: #f1c40f;
}
input[type='radio']#cl6{
  background-color: #e74c3c;
}
input[type='radio']#cl7{
  background-color: #2ecc71;
}
input[type='radio']#cl8{
  background-color: #34495e;
}

input[type='radio'] {
     -webkit-appearance:none;
    width:40px;
    height:40px;
    border-radius:50%;
    outline:none;
    margin:5px;
    border:3px solid white;
}
input[type='radio']:checked {
    border: none;
}
